.rodape {
    text-align: center;
    font-size: 07.rem;
}

.rodape__logo {
    width: 11.25em;
}

.rodape__listas-midias-sociais {
    display: flex;
    justify-content: center;
}

.rodape__item-midias-socias img {
    width: 100%;
}

.rodape__titulo {
    font-size: 1.45em;
    font-weight: bold;
    text-transform: uppercase;
}

.rodape_item-lista {
    font-weight: 500;
}